#wolf-logo{
    opacity: 0.2;
}

@media screen and (min-width: 800px){

    .text{
        color: white;
        font-size: 6vw;
        text-align: center;
        margin: 0;
    }

    .page{
        margin-top: 10vw;
        padding-bottom: 5vw;
    }

    .banner{
        background-size: 100%;
        background-blend-mode: darken;
        background-repeat: no-repeat;
        background-position: center center;
        padding-top: 3vw;
        height: 30vw;
        display: flex;
        margin: auto;
        width: 90%;
        justify-content: center;
        align-items: center;
        color: white;
        p{
            font-size: 1.8vw;
            line-height: 2vw;
            width: 70%;
            text-align: center;
            text-shadow: 0px 5px 30px rgba(black, 1);
        }
    }

    .avatars{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin: auto;
        margin-top: 6vw;
        transform: translateX(1vw);
        justify-content: space-evenly;
        align-items: center;
    }

    .avatar{
        width: 25vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        margin-bottom: 1vw;
        img{
            width: 100%;
            border-radius: 20vw;
        }
        .info{
            background-color: #101010;
            padding: 1vw;
            padding-left: 3vw;
            padding-right: 3vw;
            border-radius: 1.5vw;
            margin: 1vw;
            transform: translateY(-4vw);
        }
        h1{
            font-size: 1.4vw;
            margin: 0;
            margin-bottom: 0.5vw;
            color: white;

        }
        h2{
            font-size: 1.2vw;
            margin: 0;
            color: rgba(white, 0.5);

        }
        p{
            font-size: 1.2vw;
            color: white;
            width: 80%;
            background-color: rgba(black, 0.6);
            border-radius: 1vw;
            padding: 1vw;
            margin: 0;
            transform: translateY(-2vw);
        }
    }

    .contact{
        margin-top: 5vw;
        margin-bottom: 5vw;
        h1{
            background-color: rgba(white, 0.7);
            width: fit-content;
            padding: 1vw;
            padding-left: 2vw;
            padding-right: 2vw;
            margin: auto;
            margin-bottom: 1.5vw;
            color: rgba(black, 0.5);
            border-radius: 4vw;
        }
        .highlight{
            color: black;
        }
    }

    .hor-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6vw;
        img{
            height: 150%;
        }
    }
}

@media screen and (max-width: 800px){

    .text{
        color: white;
        font-size: 10vw;
        text-align: center;
        padding: 4vw;
        border-radius: 4vw;
        width: fit-content;
        margin: auto;
        margin-bottom: 5vw;
        margin-top: 5vw;
    }

    .page{
        margin-top: 50vw;

    }

    .banner{
        background-size: 0%;
        padding-top: 3vw;
        display: flex;
        margin: auto;
        width: 90%;
        justify-content: center;
        align-items: center;
        color: white;
        p{
            font-size: 4vw;
            line-height: 5vw;
            text-align: center;
            text-shadow: 0px 5px 30px rgba(black, 1);
        }

    }

    .avatars{
        display: flex;
        flex-wrap: wrap;
        margin-top: 6vw;
        justify-content: space-evenly;
        align-items: center;
    }

    .avatar{
        width: 80vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        img{
            width: 100%;
            border-radius: 40vw;
        }
        .info{
            background-color: #101010;
            padding: 4vw;
            padding-left: 6vw;
            padding-right: 6vw;
            border-radius: 4vw;
            margin: 1vw;
            transform: translateY(-10vw);
        }
        h1{
            font-size: 5vw;
            margin: 0;
            margin-bottom: 2vw;
            color: white;

        }
        h2{
            font-size: 4vw;
            margin: 0;
            color: rgba(white, 0.5);

        }
        p{
            font-size: 4vw;
            line-height: 5vw;
            color: white;
            width: 80%;
            background-color: rgba(black, 0.6);
            border-radius: 3vw;
            padding: 3vw;
            margin: 0;
            transform: translateY(-8vw);
        }
    }

    .contact{
        margin-top: 10vw;
        margin-bottom: 10vw;
        h1{
            background-color: rgba(white, 0.7);
            width: fit-content;
            padding: 3vw;
            padding-left: 5vw;
            padding-right: 5vw;
            font-size: 5vw;
            margin: auto;
            margin-bottom: 5vw;
            color: rgba(black, 0.5);
            border-radius: 10vw;
        }
        .highlight{
            color: black;
        }
    }

    .hor-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6vw;
        transform: translateX(-3vw);
        margin-bottom: 8vw;
        img{
            height: 280%;
            margin-left: -22vw;
            transform: translateY(-0.4vw);
            margin-right: 10vw;
        }
    }
}