#wolf-logo {
  opacity: 0.2;
}

* {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

a {
  color: black;
}

@media screen and (min-width: 800px) {
  .page {
    width: 90vw;
    margin: auto;
    margin-top: 6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 5vw;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  input {
    border: none;
    font-size: 1.2vw;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1vw;
    border-radius: 0.5vw;
    width: 90%;
    margin: 1vw;
  }
  input:focus {
    outline: none;
  }
  input:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  textarea {
    font-size: 1.2vw;
    margin: 1vw;
    margin-top: 0vw;
    width: 90%;
    height: 10vw;
    background-color: rgba(255, 255, 255, 0.7);
    resize: vertical;
    padding: 1vw;
    border-radius: 0.5vw;
  }
  textarea:focus {
    outline: none;
  }
  textarea:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .text {
    color: white;
    font-size: 6vw;
    text-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .subtext {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2.5vw;
    text-shadow: 0px 5px 30px black;
    text-align: center;
    margin: 4vw;
  }
  button {
    font-size: 1.2vw;
    border: none;
    color: white;
    margin: 1vw;
    margin-top: 0vw;
    background-color: rgba(0, 131, 234, 0.7);
    padding: 1vw;
    border-radius: 0.5vw;
  }
  button:focus {
    outline: none;
  }
  button:hover {
    background-color: rgba(0, 189, 255, 0.7);
  }
}

@media screen and (max-width: 800px) {
  .page {
    width: 90vw;
    margin: auto;
    margin-top: 35vw;
    position: relative;
    left: 0.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 10vw;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  input {
    border: none;
    font-size: 4vw;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 3vw;
    border-radius: 1.5vw;
    width: 90%;
    margin: 3vw;
  }
  input:focus {
    outline: none;
  }
  input:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  textarea {
    font-size: 4vw;
    margin: 3vw;
    margin-top: 0vw;
    width: 90%;
    height: 30vw;
    background-color: rgba(255, 255, 255, 0.7);
    resize: vertical;
    padding: 3vw;
    border-radius: 1.5vw;
  }
  textarea:focus {
    outline: none;
  }
  textarea:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .text {
    color: white;
    font-size: 10vw;
    text-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .subtext {
    color: rgba(255, 255, 255, 0.7);
    font-size: 6vw;
    text-shadow: 0px 5px 30px black;
    text-align: center;
    margin-bottom: 7vw;
  }
  button {
    font-size: 4vw;
    border: none;
    color: white;
    margin: 3vw;
    margin-top: 0vw;
    background-color: rgba(0, 131, 234, 0.7);
    padding: 3vw;
    border-radius: 1.5vw;
  }
  button:focus {
    outline: none;
  }
  button:hover {
    background-color: rgba(0, 189, 255, 0.7);
  }
}

.light button {
  background-color: #1C4397;
}

.light button:hover {
  background-color: #1C61DA;
}
/*# sourceMappingURL=contact.css.map */