$blue: #0083EA;
$dark-sat: #1C61DA;
$dark-nosat: #1C4397;
$light-sat: #00BDFF;
$light-nosat: #00BDFF;
$dark-dark: #00193A;

#wolf-logo {
  opacity: 0.3;
}

#glow {
  transform-origin: 80% 20%;
  animation: flicker 1s ease-in-out infinite alternate-reverse;
}

.three-a {
  animation: bounce 2.5s ease-in-out infinite alternate;
}

.three-b {
  animation: bounce 2.5s ease-in-out infinite alternate-reverse;
}

.four {
  animation: bounce 2.6s ease-in-out infinite alternate-reverse;
}

.one-a{
  animation: bounce 2.5s ease-in-out infinite alternate;

}

.one-b{
  animation: bounce 2.5s ease-in-out infinite alternate;
  animation-delay: 200ms;
}

.one-c{
  animation: bounce 2.5s ease-in-out infinite alternate;
  animation-delay: 400ms;
}

.one-d{
  animation: bounce 2.5s ease-in-out infinite alternate;
  animation-delay: 600ms;
}

.shadow {
  opacity: 0.2;
  transform-origin: center center;
  animation: scaling 3s ease-in-out infinite alternate;
  filter: url('#blur');
}

.shadow-mini {
  opacity: 0.2;
  transform-origin: 80% 30%;
  animation: scaling-mini 1s ease-in-out infinite alternate-reverse;
  filter: url('#blur');
}


@media screen and (min-width: 800px){

  .page {
    margin: auto;
    margin-top: 5vw;
    overflow: hidden;
    width: 98vw;
    position: relative;
    right: 3vw;
    padding: 5vw;
  }

  #sidebar{
    width: 4vw;
    position: fixed;
    background-color: rgba(black, 0.7);
    z-index: 10;
    border-radius: 4vw;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 1vw;
    top: calc(50vh - 8vw);
    transition: 0.2s ease;
    transform: translateX(-5.5vw) scale(0.8);
    &:hover{
      top: calc(50vh - 10vw) scale(1);
      background-color: rgba(black, 0.3);
    }
  }

  #sidebar-zone{
    width: 7vw;
    height: 26vw;
    left: 0;
    position: fixed;
    top: calc(50vh - 13vw);
    &:hover{
      #sidebar{
        transform: translateX(0vw) scale(1);
        opacity: 1;
      }
    }
  }

  .sidebar-img{
    width: 100%;
    opacity: 0.6;
    transition: 0.2s ease;
    transform-origin: center center;

    &:hover{
      transform: scale(1.1);
      opacity: 1;
    }
  }


  @keyframes flicker {
    from {
      fill: gold;
      transform: scale(1);
    }
    to {
      fill: goldenrod;
      transform: scale(0.9);
    }
  }

  @keyframes bounce {
    from {
      transform: translateY(0vw);
    }
    to {
      transform: translateY(-5vw);
    }
  }

  @keyframes bounce-small {
    from {
      transform: translateY(0vw);
    }
    to {
      transform: translateY(-2vw);
    }
  }

  @keyframes bounce-screen {
    from {
      transform: translate(11.5vw, -40vw);
    }
    to {
      transform: translate(11.5vw, -42vw);
    }
  }

  @keyframes bounce-screen-scaled {
    from {
      transform: translate(9vw, -40vw) scale(0.9);
    }
    to {
      transform: translate(9vw, -42vw) scale(0.9);
    }
  }

  @keyframes scaling {
    from {
      transform: scale(1.1) translateY(-1vw);
    }
    to {
      transform: scale(0.9) translateY(1vw);
    }
  }

  @keyframes scaling-mini {
    from {
      transform: scale(1.1);
    }
    to {
      transform: scale(0.9);
    }
  }

  .graphic {
    width: 40%;
    height: 100%;
    margin: 1vw;
    transform: translateY(3vw);

    svg {
      width: 100%;
      height: 100%;
    }
    .screen {
      width: 12vw;
      position: relative;
      animation: bounce-screen 3s ease-in-out infinite alternate;
    }
  }

  .section {
    display: flex;
    width: 95%;
    padding-top: 2vw;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    height: 40vw;
    margin-left: 3vw;
    margin-top: 3vw;
    margin-right: 3vw;
  }

  .expo {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    transform: translateY(-3vw);
    margin-bottom: 7%;
    text-align: center;

    img {
      width: 20vw;
    }
    h1 {
      font-size: 5vw;
      margin: 0;
      color: white;
      transition: 0.2s ease;
    }
    h2 {
      width: 50%;
      font-size: 1.5vw;
      line-height: 1.7vw;
      color: rgba(white, 0.7);
      transition: 0.2s ease;

    }

    &:hover{
      h1{
        color: lighten($light-nosat, 20%);
      }
      h2{
        color: lighten($light-nosat, 30%);
      }
      img{
        animation: bounce-small 0.5s ease-in-out infinite alternate;
      }
    }
  }

  #one{
    right: 2vw;
    bottom: 1vw;
  }
  #three {
    bottom: -2vw;
  }

  #two {
    bottom: 5vw;
  }

}

@media screen and (max-width: 800px){

  #sidebar{
    display: none;
  }
  @keyframes flicker {
    from {
      fill: gold;
      transform: scale(1);
    }
    to {
      fill: goldenrod;
      transform: scale(0.9);
    }
  }

  @keyframes bounce {
    from {
      transform: translateY(0vw);
    }
    to {
      transform: translateY(-10vw);
    }
  }

  @keyframes bounce-screen {
    from {
      transform: translate(32vw, -80vw);
    }
    to {
      transform: translate(32vw, -85vw);
    }
  }

  @keyframes bounce-small {
    from {
      transform: translateY(0vw);
    }
    to {
      transform: translateY(-2vw);
    }
  }

  @keyframes scaling {
    from {
      transform: scale(1.1) translateY(-5vw);
    }
    to {
      transform: scale(0.9) translateY(5vw);
    }
  }

  @keyframes scaling-mini {
    from {
      transform: scale(1.1);
    }
    to {
      transform: scale(0.9);
    }
  }

  .page {

    overflow-x: hidden;
    width: 100vw;
    position: absolute;
    top: 35vw;
    left: 0;
    right: 0;
    margin-bottom: -30vw;
  }

  .graphic {
    width: 90vw;
    height: 80vw;
    margin: 5vw;
    margin-top: 10vw;
    svg {
      width: 100%;
      height: 100%;
    }
    img {
      width: 24vw;
      position: relative;
      animation: bounce-screen 3s ease-in-out infinite alternate;
    }
  }

  .section {
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    margin: 0;
    margin-bottom: 40vw;

  }

  .sec-after{
    padding-bottom: 70vw;
    padding-top: 12vw;
    margin-top: -35vw;

  }

  .sec-before{
    padding-bottom: 90vw;
    margin-top: 60vw;
    background-color: rgba(black, 0.2);
  }

  .expo {
    z-index: 2;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 90vw;
    margin: auto;
    padding: 1vw;

    img {
      width: 40vw;
      position: relative;
    }
    h1 {
      font-size: 8vw;
      margin: 0;
      transition: 0.2s ease;
      background-color: rgba(darken($dark-sat, 10%), 0.5);
      padding: 3vw;
      border-radius: 4vw;

    }
    h2 {
      width: 100%;
      font-size: 5vw;
      text-align: center;
      opacity: 0.6;
      line-height: 6vw;
      transition: 0.2s ease;
    }

    &:hover{
      h1{
        background-color: rgba(darken($dark-sat, 10%), 0.8);
      }
    }
  }

  .expo-before{
    top: 140vw;
    margin-top: -50vw;
    padding-bottom: 2vw;
    height: 1vw;
  }

  .expo-after{
    margin-bottom: -70vw;
  }

  #one{
    right: 2vw;
    bottom: 1vw;
  }
  #three {
    bottom: -2vw;
  }

  #two {
    bottom: 12vw;
  }

}


.light{
  .expo{
    img{
      filter: brightness(0%);
    }
    h1{
      color: white;
    }
    h2{
      color: black;
    }

    &:hover{
      h1{
        color: $light-sat;
      }
    }
  }
}
