a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

::-moz-selection {
  background: black;
  color: white;
}

::selection {
  background: black;
  color: white;
}

body {
  font-family: Questrial, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

.background {
  background: linear-gradient(45deg, #00193A, #1C4397);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wolf-logo {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

#wolf-logo polygon {
  opacity: 0.6;
  border: 10px solid black;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translate(0vw, 0vw);
          transform: translate(0vw, 0vw);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

#wolf-logo polygon:hover {
  opacity: 0.5;
}

#wolf-logo .eye {
  opacity: 0.9;
}

@media screen and (min-width: 1080px) {
  .navbar {
    height: 4vw;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #img-mobile {
    display: none;
  }
  .bubble {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 25, 58, 0.8);
    margin: 1vw;
    height: 100%;
    border-radius: 4vw;
  }
  #navfab {
    display: hidden;
  }
  .navbtn {
    margin: 2vw;
    font-size: 0.8vw;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbtn:hover {
    color: white;
  }
  .navbtn img {
    height: 4vw;
    width: auto;
  }
}

@media screen and (max-width: 1080px) {
  .navbar {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 6vw;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .navbar h1 {
    font-size: 6vw;
  }
  #wolf-logo {
    opacity: 0.8;
  }
  #img-desktop {
    display: none;
  }
  .hor-flex {
    display: none;
  }
  #img-mobile {
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    border-radius: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    top: 10vw;
    left: 20vw;
  }
  .navbar-out {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #navfab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    width: 80px;
    height: 80px;
    border-radius: 60px;
    background-color: #0083EA;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  #navfab div {
    height: 7%;
    width: 60%;
    background-color: white;
    opacity: 0.8;
    margin: 4px;
  }
  #navfab:hover {
    background-color: #1C61DA;
  }
  .navbtn {
    margin: 2vw;
    font-size: 0.8vw;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4vw;
    padding: 0.1vw;
    padding-right: 3vw;
    padding-left: 3vw;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }
  .navbtn:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
/*# sourceMappingURL=global.css.map */