$blue: #0083EA;
$dark-sat: #1C61DA;
$dark-nosat: #1C4397;
$light-sat: #00BDFF;
$light-nosat: #00BDFF;
$dark-dark: #00193A;


@media screen and (min-width: 1080px){

    .page{
        display: flex;
        flex-direction: column;
        align-items: left;
        position: fixed;
        justify-content: center;
        height: 100vh;
        width: 50vw;
        left: 3vw;
        color: white;
    }

    .big{
        font-size: 5vw;
        margin: 0;
        text-shadow: 0px 5px 50px rgba(0,0,0,1);

    }

    .subtitle{
        font-size: 2vw;
        color: rgba(white, 0.7);
        text-shadow: 0px 5px 50px rgba(0,0,0,1);

    }

    .hor-flex{
        height: 4vw;


        input{
            font-size: 1.5vw;
            padding: 1vw;
            outline: none;
            border: none;
            background-color: rgba(white, 0.7);
            border-radius: 0.5vw;
            transition: 0.2s ease;
            &:hover{
                background-color: rgba(white, 0.9);
            }
        }

        button{
            font-size: 1.5vw;
            border: none;
            outline: none;
            background-color: $dark-nosat;
            color: white;
            padding: 1vw;
            margin: 1vw;
            border-radius: 0.5vw;
            transition: 0.2s ease;
            &:hover{
                background-color: $dark-sat;
            }
        }
    }

    #timer{
        display: flex;
        .timer-col{
            margin: 1vw;
            margin-left: 0;
            margin-top: 3vw;
            text-align: center;
            h1{
                font-size: 3vw;
                margin: 0.5vw;
            }
            h2{
                font-size: 1.5vw;
                margin: 0;
                color: rgba(white, 0.5);
            }
        }
    }

}

@media screen and (max-width: 1080px){

    .page{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        position: absolute;
        left: 0;
        top: 100vh;
        background-color: rgba(0,0,0,0.6);
        color: white;
    }

    .big{
        font-size: 8vw;
        width: 90vw;
        margin: 0;
        text-shadow: 0px 5px 30px rgba(0,0,0,1);

    }

    .subtitle{
        font-size: 5vw;
        color: rgba(white, 0.7);
        text-shadow: 0px 5px 30px rgba(0,0,0,1);

    }

    .hor-flex{
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;


        input{
            font-size: 5vw;
            padding: 3vw;
            margin: 2vw;
            outline: none;
            border: none;
            background-color: rgba(white, 0.7);
            border-radius: 1vw;
            transition: 0.2s ease;
            &:hover{
                background-color: rgba(white, 0.9);
            }
        }


        button{
            font-size: 5vw;
            border: none;
            outline: none;
            background-color: $dark-nosat;
            color: white;
            padding: 3vw;
            margin: 3vw;
            border-radius: 1vw;
            transition: 0.2s ease;
            &:hover{
                background-color: $dark-sat;
            }
        }

    }

    #timer{
        display: flex;
        .timer-col{
            margin: 2vw;

            margin-top: 3vw;
            text-align: center;
            h1{
                font-size: 8vw;
                margin: 2vw;
            }
            h2{
                font-size: 4vw;
                margin: 0;
                color: rgba(white, 0.5);
            }
        }
    }


}

#email{
    transition: 0.2s ease;
    border: 2px solid rgba(white, 0);
}

.fail{
    animation: slide 0.4s;
    border-color:red !important;
}

@keyframes slide{
    0%{ transform: translateX(-0.5vw) }
    20%{ transform: translateX(0.5vw) }
    40%{ transform: translateX(-0.5vw) }
    60%{ transform: translateX(0.5vw) }
    80%{ transform: translateX(-0.5vw) }
    100%{ transform: translateX(0vw) }
}


@keyframes shake {
    0% { transform: translate(2px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(0px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(2px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

